@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Raleway:600,100);
html,
body,
ul,
li,
section,
p,
h1,
h2,
h3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: #2C3133;
    text-align: center;
    -webkit-font-smoothing: antialiased !important;
    /*	-webkit-text-stroke: 0.2pt !important;*/
}

a:link,
a:visited,
a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

a:hover {
    color: RGB(79, 224, 220);
}

h1,
h2,
h3,
p {
    height: auto;
}

h1 {
    font-size: 100%;
    position: relative;
    height: auto;
    color: #ffffff;
    text-align: center;
    font-weight: 200;
}

.sub {
    margin-top: 1%;
}

.soon {
    font-size: 12px;
    color: RGB(255, 80, 101);
    font-weight: 600;
}

span {
    font-weight: 100;
}

h2 {
    padding-top: 2%;
    font-size: 110%;
    font-weight: 600;
    line-height: 1.4em;
}

h3 {
    font-size: 90%;
    font-weight: 500px;
    padding-top: 5%;
}

h4 {
    background-color: RGB(79, 224, 220);
    width: 30px;
    height: 4px;
    margin: 2% auto;
}

p {
    font-weight: 300;
    font-size: 80%;
    margin: 15px auto 0;
    line-height: 1.5em;
    letter-spacing: -0.02em;
}


/*
.col {
    width: 100%;
    text-align: center;
    
}
*/

.col p {
    margin: 0;
    position: inherit;
    font-size: 0.8em;
    line-height: 1.5em;
    margin-top: 2%;
    height: auto;
}

.btn {
    margin: auto;
    border-radius: 22px;
    width: 160px;
    height: 45px;
    text-align: center;
}

.text {
    position: relative;
    top: 5%;
}

.bold {
    font-weight: 500;
    font-size: 110%;
    color: #F9F857;
}

.gray {
    background-color: #FAFAFA;
}

.s0 {
    width: 100%;
    height: 100%;
}

.s1 {
    width: 100%;
    height: 100%;
}

.s2 {
    /*    width: 100%;*/
    height: auto;
}

.s3 {
    /*    width: 100%;*/
    height: auto;
}


/*------------End common------------*/

header {
    width: 100%;
    height: 6%;
    position: fixed;
    z-index: 10;
    padding: 4% 2% 0 0;
}

nav {
    margin: auto;
    overflow: hidden;
    background: url(img/icon.png) left no-repeat;
    background-size: contain;
}

nav ul {
    /*    width: 60%;*/
    position: relative;
    text-align: right;
}

nav li {
    position: relative;
    display: inline;
    font-size: 0.9em;
    padding: 0 12px;
    margin: 0 10px;
    color: #ffffff;
    background-color: rgba(79, 224, 220, 1);
    font-weight: 600;
    border-radius: 22px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in-out;
}


/*

nav li:hover {
    background-color: #fff;
    color: RGB(0, 214, 183);
    border-radius: 22px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in-out;
}
*/


/*=======================*/

.logo-img {
    background: url(img/logo-center.png) center no-repeat;
    background-size: contain;
    width: 200px;
    height: 40px;
}

.line {
    width: 200px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 2% auto;
}

.eng {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.eng-con {
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.35em;
    margin-left: 1%;
    font-size: 1em;
    text-align: center;
}

.main .text {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 33%;
}

.main {
    /*    position: static;*/
    background: url(img/bg_main_02.png) top left no-repeat scroll;
    background-size: cover;
    color: #ffffff;
    background-position: 60% 0%;
}

.main .btn {
    background-color: #4FE0DC;
    position: absolute;
    top: 60%;
    left: 25%;
    right: 25%;
    padding: 13px 0 0 0;
    height: 32PX;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.main .btn:hover {
    color: #fff;
    background-color: #45cdc9;
}

.youtube:hover {
    color: #fff;
}

.main ul {
    position: absolute;
    bottom: 6%;
    height: auto;
}

.main ul li {
    width: 138px;
    height: 46px;
    background-size: contain;
}

.main li {
    display: inline-block;
    margin: 10px;
    background-size: 50%;
}

.wrap {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.go-to-appstore {
    background: url(img/img_app_store.png) center no-repeat;
}

.go-to-google {
    background: url(img/img_google_play.png) center no-repeat;
}


/*===========About Us=============*/


.info {
    position: absolute;
    top: 15%;
    /*    vertical-align: middle;*/
}

.graphic-1,
.graphic-2,
.graphic-3 {
    width: 233px;
    height: 100px;
    margin: auto;
    position: inherit;
    padding: 2% 0;
}

.graphic-1 {
    background: url(img/logo_theventures.png) center no-repeat;
    background-size: 70%;
}

.graphic-2 {
    background: url(img/img_it.png) center no-repeat;
    background-size: 70%;
}

.graphic-3 {
    background: url(img/img_company_3.png) center no-repeat;
    background-size: 70%;
}


/*-----------feature----------*/


/*

#feature {
    height: 30%;
    background: url(img/bg_feature.png) center no-repeat scroll;
    background-size: cover;
    background-position: 60% 0%;
    background-color: RGB(36, 54, 60);
}

#feature h1 {
    font-size: 2em;
    position: relative;
    top: 23%;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

#feature p {
    height: auto;
    position: relative;
    top: 19%;
    color: #fff;
    font-weight: 300;
}

*/


/*-----------Reservation----------*/

#reservation {
    z-index: 5;
}

.m1,
.m2,
.m3,
.m4 {
    width: 320px;
    height: 480px;
}

.s1 .m1 {
    background: url(img/img_phone_user.png) center no-repeat scroll;
    background-size: 60%;
}

.s1 .m2 {
    background: url(img/img_phone_done.png) center no-repeat scroll;
    background-size: 60%;
}

.s1 .m3 {
    background: url(img/img_phone_ready.png) center no-repeat scroll;
    background-size: 60%;
}

.s1 .m4 {
    background: url(img/img_phone_shop.png) center no-repeat scroll;
    background-size: 60%;
}


/*

#reservation .wrap {
    position: relative;
    height: 100%;
    background: url(img/img_resrvation.png) center no-repeat;
    background-size: 120%;
}
*/


/*-----------section 2----------*/

#main {
    z-index: 5;
}

#main .wrap {
    background: url(img/img_app_main_list.png) bottom center no-repeat;
    background-size: 70%;
    /*    background-position: 50% 40%;*/
}


/*------Customer Info-----*/

#custormer_info {}

#custormer_info .wrap {
    background: url(img/img_app_info_customer.png) bottom center no-repeat;
    background-size: 70%;
    /*    background-position: 50% 150%;*/
}


/*        background-attachment: fixed;*/


}

/*----------service info--------*/

/*
#service {
    height: 80%;
}
*/
#service .text {
    top: 11%;
}
.service {
    position: inherit;
    top: 22%;
    margin: 0 auto;
    width: 100%;
    height: 50%;
}
.service h3 {
    top: 1%;
}
.facebook-ad,
.review,
.no-shop {
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin: 0 auto;
}
.facebook-ad {
    background: url(img/img_facebook.png) top center no-repeat;
}
.review {
    background: url(img/img_review.png) top center no-repeat;
}
.no-shop {
    background: url(img/img_shop.png) top center no-repeat;
}

/*-----------Join Us------------*/
.join_us {
    height: 80%;
    background: url(img/bg_join_us_2.png) center no-repeat scroll;
    background-size: cover;
    background-position: 60% 0%;
}
.join_us h2,
.join_us p {
    color: #ffffff;
}
.join_us .text {
    position: relative;
    top: 25%;
}
.join_us .btn {
    position: relative;
    top: 34%;
    background-color: rgb(255, 255, 255);
    padding: 8px 0 0 0;
    height: 37px;
    font-weight: bold;
    font-size: 18px;
    color: #4FE0DC;
}
.join_us .btn a {
    color: #4FE0DC;
}
.join_us .btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: aliceblue;
}

/*-----------Footer---------------*/
#footer {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    background-color: #25363C;
    text-align: center;
}
#footer ul li {
    display: inline;
    position: relative;
    top: 24%;
    margin: 0 20px;
}
#footer p {
    margin: auto;
    height: auto;
    position: relative;
    top: -40%;
    text-align: center;
    color: #505E63;
    font-size: 12px;
}