@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Raleway:600,100);
html,
body,
ul,
li,
section,
p,
h1,
h2,
h3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: #2C3133;
    text-align: center;
    -webkit-font-smoothing: antialiased !important;
    /*	-webkit-text-stroke: 0.2pt !important;*/
}

a:link,
a:visited,
a {
    text-decoration: none;
    color: #fff;
    cursor: pointer
}

a:hover {
    color: RGB(0, 214, 183);
}
h1, h2, h3, p{
     height: auto;
}
h1 {
 
    font-size: 1em;
    position: relative;    
    height: auto;
    color: #ffffff;
    text-align: center;
    font-weight: 200;
}
.sub{
    margin-top:1%; 
}

.soon{
    font-size: 12px;
    color: RGB(222, 80, 112);
    font-weight: 600;
}
span {
    font-weight: 100;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}

h3 {
    /*    display: inline;*/
    font-size: 1.1em;
    font-weight: 500px;
}
h4 {
    background-color: RGB(0, 214, 183);
    width: 30px;
    height: 4px;
    margin: 2% auto;
}

p {
    width: 80%;
    font-weight: 300;
    font-size: 0.9em;
    margin: 10px auto 0;
    line-height: 1.5em;
    padding: 0 10%;
}

.btn {
    margin: auto;
    border-radius: 22px;
    width: 190px;
    height: 45px;
    text-align: center;
}

.text {
    position: relative;
    top: 5%;
}

.bold {
    font-weight: 500;
    font-size: 110%;
    color: #ffe965;
}

.gray {
    background-color: #FAFAFA;
}

.bgcolor {
    background-color: RGB(0, 214, 183);
    padding: 15px 2% 0 0;
    height: 40px;
}
/*------------End common------------*/

header {
    width: 100%;
    height: 60px;
    z-index: 10;
    position: fixed;
    padding: 25px 2% 0 0;

    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in-out;
}


nav {
    max-width: 1366px;
    margin: auto;
    overflow: hidden;

    background: url(img/icon.png) left no-repeat;
background-size: contain;

   
}

nav ul {
    /*    width: 60%;*/
    position: relative;
    text-align: right;

}

nav li {
    position: relative;
    display: inline;

    padding: 0 20px;
    margin: 0 10px;
    color: #ffffff;
}

nav li:hover {
    background-color: #fff;
    color: RGB(0, 214, 183);
    border-radius: 22px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in-out;
}

/*=======================*/

.logo-img {
    background: url(img/logo-center.png)  center no-repeat;
    background-size: contain;
    width: 200px;
    height: 40px;

}
.line {
    width: 200px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 2% auto;
}
.eng {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.eng-con {
    font-family: 'Open Sans Condensed', sans-serif;
   letter-spacing: 0.39em;
    font-size: 1em;
}
.main .text{
    top:30%;
}

.main {
    /*    position: static;*/
    background: url(img/bg_main_02.png) top left no-repeat scroll; 
    background-size: cover;
    color: #ffffff;
    background-position:60% 0%;
}

.main .btn {

    background-color: #13D5B7;
    position: relative;
    top: 60%;
    padding: 10px 0 0 0;
    height: 35PX;

        border-radius:50px;

   
}

.main .btn:hover {
    color: #fff;
    background-color: #28bfa5;
}

.youtube:hover {
    color: #fff;
}

.main ul li {
    position: relative;
    top: 54%;
    width: 138px;
    height: 46px;
}

.main li {
    display: inline;
    margin: 10px;
}

.wrap {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*===========About Us=============*/

#company {
    height: 100%;
}

/*
.row {
    width: 100%;
    position: relative;
    top: 15%;
    margin-top: 3%;
    padding: 0 8%;
}


.row h3 {
    width: 60%;
    margin: auto;
}

.row p {
    font-size: 0.92em;
    line-height: 1.5em;
    margin-top: 0.5%;
    width: 60%;
}
*/
.info{
    top: 9%;
}
.info .col h3{
    top:1%;
    margin: 0;
}
.info .col p {
    font-size: 0.92em;
    line-height: 1.5em;
    top: 2%;
}
.graphic-1,
.graphic-2,
.graphic-3 {
    width: 100%;
    height: 144px;
    margin: auto;
    /* padding: 1%;*/
    position: relative;
    padding: 1% 0;
}

.graphic-1 {
    background: url(img/logo_theventures.png) center no-repeat;
    background-size: auto;
}

.graphic-2 {
    background: url(img/logo_theventures.png) center no-repeat;
    background-size: auto;
}

.graphic-3 {
    background: url(img/img_company_3.png) center no-repeat;
    background-size: auto;
}
/*-----------feature----------*/
#feature {
    height: 30%;
    background-color: RGB(36, 54, 60);
}

#feature h1 {
    font-size: 2em;
    position:relative;
    top: 23%;
    font-weight: 700;
}

#feature p {
    height: auto;
    position: relative;
    top: 15%;
    color: #fff;
    font-weight: 500;
}


/*-----------Reservation----------*/

#reservation {
    z-index: 5;
}

#reservation .wrap {
    position: relative;
    height: 100%;
    background: url(img/img_resrvation.png) top center no-repeat;
    background-size: 70%;
}

/*-----------section 2----------*/

#main .wrap {
    height: 100%;
    background: url(img/img_app_main_list.png) left no-repeat;
    background-size: 80%;
}

/*------Customer Info-----*/

#custormer_info {
    height: 100%;
}

#custormer_info .wrap {
    height: 100%;
    background: url(img/img_app_info_customer.png) right center no-repeat;
    background-size: 80%;
    /*        background-attachment: fixed;*/
}


/*----------service info--------*/



.service {
    position: relative;
    top: 10%;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.col {
    width: 100%;
    text-align: center;
    height: 230px;
    display: inline;
}

h3 {
    position: relative;
    top: 10%;
    margin: 0;
   
}

.col p {

    position: relative;

    top: 12%;
    margin: 0;
    height: auto;
}

.facebook-ad,
.review,
.no-shop{ 
    width: 100px;
    height: 100px;
    position: relative;
    background-size: 100%;
    margin: 0 auto;
    top: 5%;
}

.facebook-ad {
    background: url(img/img_facebook.png) top center no-repeat;
}

.review {
    background: url(img/img_review.png) top center no-repeat;
}

.no-shop {
    background: url(img/img_shop.png) top center no-repeat;
}

/*-----------Join Us------------*/

.join_us {
    height: 80%;
    background: url(img/bg_join_us_2.png) center no-repeat scroll;
    background-size: cover;
        background-position:60% 0%;
}

.join_us h2,
.join_us p {
    color: #ffffff;
}

.join_us .text {
    position: relative;
    top: 30%;
}

.join_us .btn {
    position: relative;
    top: 35%;
    background-color: rgb(255, 255, 255);
    padding: 8px 0 0 0;
    height: 37px;
    font-weight: bold;
    font-size: 18px;
    color: #3ADFC4;
}

.join_us .btn a {
    color: #3ADFC4;
}
.join_us .btn:hover{
    background-color: rgba(255, 255, 255,0.9);
    color: aliceblue;
}
/*-----------Footer---------------*/

footer {
    height: 20%;;
    background-color: #25363C;
    text-align: center;
}

footer ul li {
    display: inline;
    position: relative;
    top: 24%;
    margin: 0 20px;
}

footer p {
    margin: auto;
    height: auto;
    position: relative;
    top: -40%;
    text-align: center;
    color: #505E63;
    font-size: 12px;
}
/*-----------------------*/

.swiper-container {
    
    width: 100%;
    height: 74%;
}
  
    
    .swiper-pagination-bullet {
        background-color: #fff;
        width: 3%;
        height: 2%;
        opacity: 1;
    }
.swiper-pagination-bullet-active {
    background: #E5001B;
    opacity: 1;
}
