
@media only screen and (max-width: 640px) {    
 body { 
     font-size: 85%;
    } 
    h1, h2{
        font-size: 1.9em;
    }
    .wrap{
         max-width: 640px;
        
    }
    .main {

          background-size: contain top;

          color: #ffffff;
      }
    #reservation .wrap{
        height: 100%;
        background-size: 100%;
    }
}