
/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
/*
@media (max-width:800px) { 
      
    body{
     width: 100%;    
    }
      .main {
              position: static;
          background: url(img/bg_main_02.png) center no-repeat;
          background-size: contain;
          background-attachment: fixed;
          width: 100%;
          height: 50%;
          color: #ffffff;
      }
  
}
*/

/*
@media screen and ( max-width:80em ) { body { font-size:115%; } }
@media screen and ( max-width:70em ) { body { font-size:105%; } }
@media screen and ( max-width:60em ) { body { font-size: 95%; } }
@media screen and ( max-width:45em ) { body { font-size: 90%; } }
@media screen and ( max-width:30em ) { body { font-size: 85%; } }
*/
@media screen and ( max-width:729px ) {    
 body { 
     font-size: 85%;
    } 
    h1, h2{
        font-size: 1.9em;
    }
    .main {

          background-size: contain top;

          color: #ffffff;
      }
    #reservation .wrap{
        height: 100%;
        background-size: 100%;
    }
}