html, body, header, section, p, h1, h2, ul, li, a{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;
/*    background: #fff;*/
    
}
p, h1, h2, ul, li{
    height: auto;

}
ul li{
    position: relative;
    display: inline;
}
img{
    width: 26%;
}
h1{
    font-size: 2em;
}
header {
    height: 80px;
    z-index: 10;
    position: fixed;
    background-color: rgba(255,255,255,0);
    background: url(img/logo_heybeauty.png) no-repeat;
    background-position: left center;
    background-size: 40%;
}
#main{
    color:#fff;
    background: url(img/bg_main.png) no-repeat;
    background-size: cover;
}
#main h1{
    position: absolute;
    top: 90px;
}
.img_phone{
    position: inherit;
    width: 100%;
    height: 100%;
    background: url(img/img_phones.png) no-repeat;
    background-size: contain;
    background-position: bottom;
}
.btn_download_main{
    position: absolute;
    width: 100%;
    height: 7%;
    bottom:0;
    padding: 3% 0 0 0;
    background: #45E0DD;
    
}
#download{
    height: 450px;
}
#user-reviews{
    height: 618px;
    background: url(img/bg_review.png) no-repeat;
    background-size: cover;
}
footer{
    height: 100px;
    background: #213840;
}